  <h2>Por capital</h2>
  <hr>

  <div class="row">
    <div class="col">
      <!-- (onValue)="SearchByCapital($event)" -->
      <shared-search-box
      (onDebounce)="SearchByCapital($event)"
      [initialValue]="initialValue"
      placeholder="Buscar por capital"></shared-search-box>

    </div>
  </div>
  <div class="row">
    <div class="col">
      <hr>
      <shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>
        <contries-country-table [countries]="countries"></contries-country-table>
    </div>

  </div>
